<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /cvtek/api/
    
    # Ne pas traiter les fichiers ou répertoires réels
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rediriger toutes les requêtes vers index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
